<h4>Problem Statement:</h4>

<p>Segment the customers with certain offer_id into clusters for easy targeting using k-means clustering technique in python.</p>

<h6>About Dataset</h6>

<p>The data used here comes from John Foreman's book Data Smart. The dataset contains both information on marketing newsletters/e-mail campaigns (e-mail offers sent) and transaction level data from customers (which offer customers responded to and what they bought)</p>

<h6>Importing packages and visualizing the dataset</h6>

In [1]:
from datetime import datetime
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [3]:
offers=pd.read_csv('./Datasets/offer_info.csv')

In [4]:
offers.head()

,Offer #,Campaign,Varietal,Minimum Qty (kg),Discount (%),Origin,Past Peak
0,1,January,Malbec,72,56,France,False
1,2,January,Pinot Noir,72,17,France,False
2,3,February,Espumante,144,32,Oregon,True
3,4,February,Champagne,72,48,France,True
4,5,February,Cabernet Sauvignon,144,44,New Zealand,True

In [5]:
offers.describe()

         Offer #  Minimum Qty (kg)  Discount (%)
count  32.000000         32.000000     32.000000
mean   16.500000         65.812500     57.843750
std     9.380832         50.785722     20.770807
min     1.000000          6.000000     17.000000
25%     8.750000         12.000000     44.750000
50%    16.500000         72.000000     55.000000
75%    24.250000         72.000000     82.250000
max    32.000000        144.000000     89.000000