https://www.analyticsvidhya.com/blog/2015/11/easy-methods-deal-categorical-variables-predictive-modeling/

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

### Training Dataset

In [8]:
df_train = pd.read_csv('./Data/train_data.txt', sep="|", header=None)

C:\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
df_train.head()

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var45,Var46,Var47,Var48,Var49,Var50,Var51,Var52,Var53,Var54
0,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var45,Var46,Var47,Var48,Var49,Var50,Var51,Var52,Var53,Var54
1,14,0,NaN,0,28,35,24,337.12,3992220,NaN,...,NhsEn4L,NaN,UYBR,xtRDFjT,oslk,BDw0V7y,LM8l689qOp,NaN,WqMG,RAYp
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NhsEn4L,NaN,cJvF,QMaRwBA,oslk,0D0gQ7h,LM8l689qOp,NaN,7P5s,RAYp
3,791,7,NaN,148,32,40,8,220.08,38994,NaN,...,NhsEn4L,pAYuLzc,cJvF,4PcK5YS,oslk,bTP9hga,NaN,ELof,xb3V,RAYp
4,2142,14,NaN,6592,188,235,96,260.24,1428156,NaN,...,FMSzZ91zL2,9EXPHGn,cJvF,Tvpip6Z,zCkv,hHJsvbM,LM8l689qOp,ELof,rgKb,6fzt

In [16]:
df_train.columns = df_train.iloc[0]

In [20]:
df_train_final=df_train.reindex(df_train.index.drop(0))

### Churn Flag

In [27]:
df_churn = pd.read_csv('./Data/churn_labels.txt', sep="|", header=None, names=["churn_label"])

In [28]:
df_churn.count()

churn_label    20000
dtype: int64

## Combining both the Dataframes

In [29]:
df_final = pd.concat([df_train_final.reset_index(drop=True), df_churn], axis=1)

In [31]:
df_final.head()

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var46,Var47,Var48,Var49,Var50,Var51,Var52,Var53,Var54,churn_label
0,14,0,NaN,0,28,35,24,337.12,3992220,NaN,...,NaN,UYBR,xtRDFjT,oslk,BDw0V7y,LM8l689qOp,NaN,WqMG,RAYp,1
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,cJvF,QMaRwBA,oslk,0D0gQ7h,LM8l689qOp,NaN,7P5s,RAYp,-1
2,791,7,NaN,148,32,40,8,220.08,38994,NaN,...,pAYuLzc,cJvF,4PcK5YS,oslk,bTP9hga,NaN,ELof,xb3V,RAYp,-1
3,2142,14,NaN,6592,188,235,96,260.24,1428156,NaN,...,9EXPHGn,cJvF,Tvpip6Z,zCkv,hHJsvbM,LM8l689qOp,ELof,rgKb,6fzt,-1
4,371,7,NaN,3088,144,180,8,166.56,18960,NaN,...,MmBslbE,cJvF,R8k3REx,oslk,X9aaldM,LM8l689qOp,ELof,FSa2,RAYp,-1

In [34]:
df_final.isnull().sum()

0
Var1            2233
Var2            2219
Var3           20000
Var4            2219
Var5            2233
Var6            2012
Var7            2012
Var8            2013
Var9            2012
Var10          19901
Var11              0
Var12           2219
Var13           2012
Var14          19701
Var15           2012
Var16           2012
Var17           2892
Var18           2012
Var19              0
Var20           2012
Var21           2219
Var22           5613
Var23           2012
Var24           2012
Var25           2233
Var26           2892
Var27           2012
Var28           2012
Var29          19505
Var30          19597
Var31            141
Var32              0
Var33              0
Var34              0
Var35             56
Var36              0
Var37              1
Var38          14970
Var39              0
Var40              0
Var41            785
Var42           2233
Var43             56
Var44              0
Var45              0
Var46          10203
Var47            286
Var48              0
Var49              0
Var50              0
Var51           2099
Var52          10511
Var53              0
Var54              0
churn_label        0
dtype: int64