https://www.analyticsvidhya.com/blog/2015/11/easy-methods-deal-categorical-variables-predictive-modeling/

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

### Training Dataset

In [50]:
df_train = pd.read_csv('./Data/train_data.txt', sep="|")

In [51]:
df_train.head()

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var45,Var46,Var47,Var48,Var49,Var50,Var51,Var52,Var53,Var54
0,14.0,0.0,NaN,0.0,28.0,35.0,24.0,337.12,3992220.0,NaN,...,NhsEn4L,NaN,UYBR,xtRDFjT,oslk,BDw0V7y,LM8l689qOp,NaN,WqMG,RAYp
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NhsEn4L,NaN,cJvF,QMaRwBA,oslk,0D0gQ7h,LM8l689qOp,NaN,7P5s,RAYp
2,791.0,7.0,NaN,148.0,32.0,40.0,8.0,220.08,38994.0,NaN,...,NhsEn4L,pAYuLzc,cJvF,4PcK5YS,oslk,bTP9hga,NaN,ELof,xb3V,RAYp
3,2142.0,14.0,NaN,6592.0,188.0,235.0,96.0,260.24,1428156.0,NaN,...,FMSzZ91zL2,9EXPHGn,cJvF,Tvpip6Z,zCkv,hHJsvbM,LM8l689qOp,ELof,rgKb,6fzt
4,371.0,7.0,NaN,3088.0,144.0,180.0,8.0,166.56,18960.0,NaN,...,XfqtO3UdzaXh_,MmBslbE,cJvF,R8k3REx,oslk,X9aaldM,LM8l689qOp,ELof,FSa2,RAYp

### Churn Flag

In [52]:
df_churn = pd.read_csv('./Data/churn_labels.txt', sep="|", header=None, names=["churn_label"])

In [53]:
df_churn.count()

churn_label    20000
dtype: int64

## Combining both the Dataframes

In [97]:
df_final = pd.concat([df_train.reset_index(drop=True), df_churn], axis=1)

In [55]:
df_final.head()

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var46,Var47,Var48,Var49,Var50,Var51,Var52,Var53,Var54,churn_label
0,14.0,0.0,NaN,0.0,28.0,35.0,24.0,337.12,3992220.0,NaN,...,NaN,UYBR,xtRDFjT,oslk,BDw0V7y,LM8l689qOp,NaN,WqMG,RAYp,1
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,cJvF,QMaRwBA,oslk,0D0gQ7h,LM8l689qOp,NaN,7P5s,RAYp,-1
2,791.0,7.0,NaN,148.0,32.0,40.0,8.0,220.08,38994.0,NaN,...,pAYuLzc,cJvF,4PcK5YS,oslk,bTP9hga,NaN,ELof,xb3V,RAYp,-1
3,2142.0,14.0,NaN,6592.0,188.0,235.0,96.0,260.24,1428156.0,NaN,...,9EXPHGn,cJvF,Tvpip6Z,zCkv,hHJsvbM,LM8l689qOp,ELof,rgKb,6fzt,-1
4,371.0,7.0,NaN,3088.0,144.0,180.0,8.0,166.56,18960.0,NaN,...,MmBslbE,cJvF,R8k3REx,oslk,X9aaldM,LM8l689qOp,ELof,FSa2,RAYp,-1

In [56]:
df_final.isnull().sum()

Var1            2233
Var2            2219
Var3           20000
Var4            2219
Var5            2233
Var6            2012
Var7            2012
Var8            2013
Var9            2012
Var10          19901
Var11              0
Var12           2219
Var13           2012
Var14          19701
Var15           2012
Var16           2012
Var17           2892
Var18           2012
Var19              0
Var20           2012
Var21           2219
Var22           5613
Var23           2012
Var24           2012
Var25           2233
Var26           2892
Var27           2012
Var28           2012
Var29          19505
Var30          19597
Var31            141
Var32              0
Var33              0
Var34              0
Var35             56
Var36              0
Var37              1
Var38          14970
Var39              0
Var40              0
Var41            785
Var42           2233
Var43             56
Var44              0
Var45              0
Var46          10203
Var47            286
Var48              0
Var49              0
Var50              0
Var51           2099
Var52          10511
Var53              0
Var54              0
churn_label        0
dtype: int64

In [99]:
df_final=df_final.drop(['Var3'], axis=1)

In [102]:
df_final.dtypes

Var1           float64
Var2           float64
Var4           float64
Var5           float64
Var6           float64
Var7           float64
Var8           float64
Var9           float64
Var10          float64
Var11            int64
Var12          float64
Var13          float64
Var14          float64
Var15          float64
Var16          float64
Var17          float64
Var18          float64
Var19          float64
Var20          float64
Var21          float64
Var22          float64
Var23          float64
Var24          float64
Var25          float64
Var26          float64
Var27          float64
Var28          float64
Var29          float64
Var30           object
Var31           object
Var32           object
Var33           object
Var34           object
Var35           object
Var36           object
Var37           object
Var38           object
Var39           object
Var40           object
Var41           object
Var42           object
Var43           object
Var44           object
Var45           object
Var46           object
Var47           object
Var48           object
Var49           object
Var50           object
Var51           object
Var52           object
Var53           object
Var54           object
churn_label      int64
dtype: object

In [139]:
df1=df_final.select_dtypes(include=['float64'])
df1.max()#df1.max(axis=1)

Var1       131761.00
Var2           42.00
Var4        46068.00
Var5        24940.00
Var6        31175.00
Var7         8912.00
Var8         2681.36
Var9     18144000.00
Var10      223728.30
Var12      142156.00
Var13    19353600.00
Var14         558.00
Var15          39.00
Var16        3145.00
Var17        4984.00
Var18        5280.00
Var19     9932480.00
Var20       10704.00
Var21     3890952.00
Var22          68.00
Var23         120.00
Var24          18.00
Var25          81.00
Var26    16934400.00
Var27    13907800.00
Var28    14515200.00
Var29         628.62
dtype: float64

In [140]:
df1.min()#df1.max(axis=1)

Var1           0.00
Var2           0.00
Var4           0.00
Var5           0.00
Var6           0.00
Var7           0.00
Var8         -66.88
Var9           0.00
Var10          0.00
Var12          0.00
Var13          0.00
Var14          0.00
Var15          0.00
Var16          0.00
Var17          0.00
Var18          0.00
Var19   -9803600.00
Var20          0.00
Var21          0.00
Var22        -32.00
Var23          0.00
Var24          0.00
Var25          0.00
Var26          0.00
Var27          0.00
Var28          0.00
Var29         -6.42
dtype: float64

In [116]:
df2=df1.fillna(-1000)

In [117]:
df2.head()

,Var1,Var2,Var4,Var5,Var6,Var7,Var8,Var9,Var10,Var11,...,Var20,Var21,Var22,Var23,Var24,Var25,Var26,Var27,Var28,Var29
0,14.0,0.0,0.0,28.0,35.0,24.0,337.12,3992220.0,-1000.0,14,...,12.0,0.0,-10.0,8.0,0.0,0.0,0.0,6793000.0,0.0,-1000.0
1,-1000.0,-1000.0,-1000.0,-1000.0,-1000.0,-1000.0,-1000.00,-1000.0,-1000.0,8,...,-1000.0,-1000.0,-22.0,-1000.0,-1000.0,-1000.0,-1000.0,-1000.0,-1000.0,-1000.0
2,791.0,7.0,148.0,32.0,40.0,8.0,220.08,38994.0,-1000.0,46,...,6.0,106686.0,22.0,0.0,0.0,9.0,0.0,9103760.0,0.0,-1000.0
3,2142.0,14.0,6592.0,188.0,235.0,96.0,260.24,1428156.0,-1000.0,104,...,42.0,13293.0,-28.0,0.0,0.0,27.0,1209600.0,10151760.0,518400.0,-1000.0
4,371.0,7.0,3088.0,144.0,180.0,8.0,166.56,18960.0,-1000.0,154,...,24.0,17397.0,-1000.0,0.0,0.0,9.0,11613.0,116088.0,18210.0,-1000.0

In [119]:
df3=df_final.select_dtypes(include=['object'])
df3.dtypes#df1.max(axis=1)

Var30    object
Var31    object
Var32    object
Var33    object
Var34    object
Var35    object
Var36    object
Var37    object
Var38    object
Var39    object
Var40    object
Var41    object
Var42    object
Var43    object
Var44    object
Var45    object
Var46    object
Var47    object
Var48    object
Var49    object
Var50    object
Var51    object
Var52    object
Var53    object
Var54    object
dtype: object

In [130]:
df4=df3.fillna('Unknown')

In [132]:
df4.apply(pd.Series.nunique)

Var30       2
Var31     321
Var32      46
Var33      22
Var34       3
Var35     205
Var36    2784
Var37    2777
Var38       3
Var39    4776
Var40     100
Var41       4
Var42      22
Var43       3
Var44       2
Var45      74
Var46    7826
Var47       3
Var48    2784
Var49       7
Var50    2784
Var51       5
Var52       4
Var53      23
Var54       7
dtype: int64

In [133]:
df4_p1=df4.loc[:, df4.apply(lambda x: x.nunique()) <= 10]

In [134]:
df4_p2=df4.loc[:, df4.apply(lambda x: x.nunique()) > 10]

In [136]:
df4_p2.apply(pd.Series.nunique)

Var31     321
Var32      46
Var33      22
Var35     205
Var36    2784
Var37    2777
Var39    4776
Var40     100
Var42      22
Var45      74
Var46    7826
Var48    2784
Var50    2784
Var53      23
dtype: int64

In [144]:
a=df4_p2.Var31.value_counts()

In [147]:
a.to_csv('a.csv')