In [104]:
import numpy as np
import pandas as pd
import time
import datetime

In [46]:
test_set=pd.read_excel('./Data/Test_Set.xlsx')

In [47]:
test_set.head()

        Customer_ID  Store_Code
0  1800000006365760       60298
1  1800000006365760       60299
2  1800000006365760       60300
3  1800000006365760       60301
4  1800000006365820       60298

In [48]:
test_set.Store_Code.unique()

array([60298, 60299, 60300, 60301], dtype=int64)

In [101]:
cust_demogs=pd.read_excel('./Data/Customer_Demographics.xlsx')

In [130]:
cust_demogs.head()

,Customer_ID,Territory,Nationality,Income_Range,Job_Type,Marital_Status,Gender,State,Language,Loyalty_Status,Birth_date,Age,Points,First_txn_dt,Last_accr_txn_dt,Last_rdm_txn_dt,Age_new,Transaction_age,Redeem_age
0,1800000006365760,United Arab Emirates,INDIA,Below_5000,Services,Married,M,Abu Dhabi,English,Gold,1959-06-01,59.0,814.0,2010-11-02,2018-09-27,2018-03-11,59.0,2886.0,2686.0
1,1800000006365820,United Arab Emirates,UNITED ARAB EMIRATES,Below_5000,Services,Married,F,Abu Dhabi,Arabic,Silver,1900-01-01,NaN,212.0,2010-12-06,2016-08-16,2015-03-16,118.0,2080.0,1561.0
2,1800000006366060,United Arab Emirates,SRI LANKA,Below_5000,Services,Married,M,Abu Dhabi,English,Silver,1959-06-07,59.0,186.0,2011-02-17,2018-08-31,2017-01-30,59.0,2752.0,2174.0
3,1800000006366230,United Arab Emirates,JORDAN,Below_5000,Services,Married,F,Abu Dhabi,Arabic,Silver,1962-01-21,57.0,126.0,2010-10-30,2018-07-30,2017-06-20,56.0,2830.0,2425.0
4,1800000006366570,United Arab Emirates,OCCUPIED PALESTINIAN TERRITORY,Below_5000,Services,Married,M,Abu Dhabi,Arabic,Silver,1900-01-01,NaN,197.0,2010-11-10,2018-09-03,2017-06-17,118.0,2854.0,2411.0

In [105]:
cust_demogs['Birth_date'] = pd.to_datetime(cust_demogs['Birth_date'], format='%d%b%Y:%H:%M:%S')
cust_demogs['First_txn_dt'] = pd.to_datetime(cust_demogs['First_txn_dt'], format='%d%b%Y:%H:%M:%S')
cust_demogs['Last_accr_txn_dt'] = pd.to_datetime(cust_demogs['Last_accr_txn_dt'], format='%d%b%Y:%H:%M:%S')
cust_demogs['Last_rdm_txn_dt'] = pd.to_datetime(cust_demogs['Last_rdm_txn_dt'], format='%d%b%Y:%H:%M:%S')
#Last_accr_txn_dt, First_txn_dt
#cust_demogs['Birth_date']=pd.to_datetime(cust_demogs['Birth_date']).date()

In [108]:
cust_demogs['Last_accr_txn_dt']=cust_demogs['Last_accr_txn_dt'].dt.date

In [109]:
cust_demogs['Last_rdm_txn_dt']=cust_demogs['Last_rdm_txn_dt'].dt.date

In [111]:
cust_demogs['Age_new']=2018-cust_demogs['Birth_date'].dt.year

In [112]:
cust_demogs['Age_new'] = cust_demogs['Age_new'].replace(np.nan, 2018)

In [115]:
cust_demogs['Income_Range'] = cust_demogs['Income_Range'].replace('Below 5000', 'Below_5000')
cust_demogs['Income_Range'] = cust_demogs['Income_Range'].replace('5001 to 10000', '5001_to_10000')
cust_demogs['Income_Range'] = cust_demogs['Income_Range'].replace('10001 to 20000', '10001_to_20000')
cust_demogs['Income_Range'] = cust_demogs['Income_Range'].replace('20001 to 30000', '20001_to_30000')
cust_demogs['Income_Range'] = cust_demogs['Income_Range'].replace('30001 & Above', '30001_Above')

In [117]:
cust_demogs['Job_Type'] = cust_demogs['Job_Type'].replace('Self Employed', 'Self_Employed')
cust_demogs['Job_Type'] = cust_demogs['Job_Type'].replace('PRESIDENT/SECY/TREASURER TO CLUB/ASSOC/SOCIETY', 'PREZ/SECY/TREAS_TO_CLUB/ASSOC/SOCIETY')
cust_demogs['Job_Type'] = cust_demogs['Job_Type'].replace('Chief Execuetive Officer', 'Chief_Execuetive_Officer')
cust_demogs['Job_Type'] = cust_demogs['Job_Type'].replace('Sales Executive', 'Sales_Executive')

In [124]:
cust_demogs['Points'].fillna((cust_demogs['Points'].mean()), inplace=True)

In [129]:
cust_demogs['Transaction_age'] = (pd.to_datetime(cust_demogs['Last_accr_txn_dt']) - pd.to_datetime(cust_demogs['First_txn_dt'])).dt.days
cust_demogs['Redeem_age'] = (pd.to_datetime(cust_demogs['Last_rdm_txn_dt']) - pd.to_datetime(cust_demogs['First_txn_dt'])).dt.days

In [132]:
cust_demogs['Transaction_age'].fillna((cust_demogs['Transaction_age'].mean()), inplace=True)

In [133]:
cust_demogs['Redeem_age'] = cust_demogs['Redeem_age'].replace(np.nan, 0)

In [134]:
cust_demogs.isnull().sum()

Customer_ID             0
Territory               0
Nationality             0
Income_Range            0
Job_Type                0
Marital_Status          0
Gender                  0
State                   0
Language                0
Loyalty_Status          0
Birth_date          17538
Age                 26096
Points                  0
First_txn_dt           33
Last_accr_txn_dt        6
Last_rdm_txn_dt     28419
Age_new                 0
Transaction_age         0
Redeem_age              0
dtype: int64

In [135]:
cust_demogs_final=cust_demogs[['Customer_ID','Income_Range','Job_Type','Marital_Status','Gender','Language','Loyalty_Status','Age_new','Points','Transaction_age','Redeem_age']]

In [136]:
cust_demogs_final.Customer_ID.nunique()

100000

In [158]:
cust_demogs_final_dummies = pd.get_dummies(cust_demogs_final, columns=['Income_Range', 'Job_Type', 'Marital_Status', 'Gender','Language','Loyalty_Status'])

### Store Info

In [4]:
store_info=pd.read_excel('./Data/Store_Master.xlsx')

In [173]:
store_info.head()

,Territory,Business,Region,Region_Code,Store_Code,Store_Name,Mall_Name,Store_Format,Sales_Per_Day,Store_Launch_Date,Train_Test_Store,Geo_Field,Store_Size_Sq_Ft,Customer_Count,Total_Revenue,launch_year
0,United Arab Emirates,Max,MX - Abu Dhabi,602,60077,Max Zayed City Mall,City Mall - Abu Dhabi-Uae,NaN,544.074849,2011-11-02,Train,"25.618167, 53.441646",4852.220341,22237.0,1.131676e+07,2011
1,United Arab Emirates,Max,MX - Sharjah,606,60073,Max Safeer Mall,Safeer Mall Sharjah-Uae,NaN,1251.656549,2009-08-21,Train,"25.309997, 55.378550",13789.949661,88372.0,2.603446e+07,2009
2,United Arab Emirates,Max,MX - Dubai,601,60065,Max Gardens,Ibn Battuta Mall-Uae,NaN,3319.885702,2005-04-15,Train,"25.044684, 55.120275",15609.687991,188836.0,6.905362e+07,2005
3,United Arab Emirates,Max,MX - Dubai,601,60219,MX -Dubai Festival City,Dubai Festival City-Uae,Stand Alone Stores,1211.477261,2014-06-12,Train,"25.218486, 55.359313",6845.497058,96733.0,2.519873e+07,2014
4,United Arab Emirates,Max,MX - Ras Al Khaimah,605,60071,Max Rak,STANDALONE,NaN,2221.872874,2006-03-20,Train,NaN,12385.047461,70456.0,4.621496e+07,2006

In [49]:
store_info['launch_year'] = store_info['Store_Launch_Date'].dt.year

In [52]:
store_info.shape

(35, 16)

In [66]:
store_info.groupby(['Train_Test_Store']).size()

Train_Test_Store
Test      4
Train    31
dtype: int64

In [58]:
store_info_final=store_info[['Store_Code','Store_Format','Region_Code','Store_Size_Sq_Ft','Customer_Count','Total_Revenue','launch_year']]

In [ ]:
store_info_final['Store_Format'] = store_info_final['Store_Format'].replace(np.nan, 'other')
store_info_final['Store_Format'] = store_info_final['Store_Format'].replace('Stand Alone Stores', 'Stand_Alone')
store_info_final['Store_Format'] = store_info_final['Store_Format'].replace('Mall Stores', 'Mall_Stores')

In [67]:
store_info_final['ff_per_sqft']=store_info_final['Customer_Count']/store_info_final['Store_Size_Sq_Ft']
store_info_final['rev_per_sqft']=store_info_final['Total_Revenue']/store_info_final['Store_Size_Sq_Ft']

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [171]:
store_info_final

,Store_Code,Store_Format,Region_Code,Store_Size_Sq_Ft,Customer_Count,Total_Revenue,launch_year,ff_per_sqft,rev_per_sqft
0,60077,other,602,4852.220341,22237.0,1.131676e+07,2011,4.582850,2332.284205
1,60073,other,606,13789.949661,88372.0,2.603446e+07,2009,6.408435,1887.929750
2,60065,other,601,15609.687991,188836.0,6.905362e+07,2005,12.097359,4423.767000
3,60219,Stand_Alone,601,6845.497058,96733.0,2.519873e+07,2014,14.130895,3681.066083
4,60071,other,605,12385.047461,70456.0,4.621496e+07,2006,5.688795,3731.512206
5,60063,other,604,4579.081667,82294.0,6.122596e+07,2009,17.971726,13370.794192
6,60075,other,606,9582.354867,113795.0,4.717905e+07,2011,11.875473,4923.534274
7,60055,other,603,10085.472996,78460.0,4.234905e+07,2008,7.779506,4199.014970
8,60066,other,601,15897.142270,79249.0,2.769316e+07,2012,4.985110,1742.021565
9,60067,other,602,8673.534535,89351.0,3.535087e+07,2011,10.301567,4075.716571
10,60241,Mall_Stores,601,2708.813317,67296.0,7.681839e+06,2015,24.843351,2835.868881
11,60070,other,601,19003.694395,134430.0,6.927847e+07,2009,7.073888,3645.526471
12,60062,other,601,6093.498908,88496.0,1.578919e+07,2012,14.523019,2591.153482
13,60072,other,605,4189.720206,63174.0,4.107923e+07,2010,15.078334,9804.767931
14,60058,other,602,8792.292763,80204.0,4.088288e+07,2011,9.122080,4649.854208
15,60074,other,606,3467.799125,137253.0,5.472770e+07,2004,39.579282,15781.680615
16,60064,other,604,8162.046109,80632.0,4.032319e+07,2012,9.878895,4940.328221
17,60076,other,606,93125.240189,165012.0,4.713209e+07,2012,1.771936,506.115108
18,60069,other,602,6698.117964,114246.0,3.771237e+07,2011,17.056433,5630.293449
19,60079,Stand_Alone,602,3699.470014,54832.0,2.481689e+07,2013,14.821582,6708.227424
20,60059,other,601,9654.989644,140183.0,4.270313e+07,2004,14.519228,4422.908058
21,60086,Mall_Stores,601,12950.629513,192764.0,5.278666e+07,2013,14.884527,4075.991669
22,60060,other,601,8317.736752,84415.0,4.505545e+07,2004,10.148794,5416.792196
23,60233,Mall_Stores,602,16455.386430,75505.0,2.175222e+07,2014,4.588467,1321.890487
24,60068,other,601,23368.665000,231790.0,9.281707e+07,2010,9.918838,3971.860355
25,60250,Mall_Stores,601,7846.686536,45197.0,1.609807e+07,2015,5.760011,2051.575960
26,60057,other,602,18277.772523,119643.0,6.428328e+07,2009,6.545820,3517.019362
27,60061,other,601,22866.922575,263026.0,7.851247e+07,2012,11.502466,3433.451621
28,60053,other,602,19200.122169,160218.0,6.436403e+07,2004,8.344634,3352.271872
29,60054,other,602,12425.516106,118444.0,4.370230e+07,2011,9.532320,3517.141873
30,60275,other,602,2178.431368,13669.0,5.271267e+06,2017,6.274698,2419.753433
31,60301,Mall_Stores,602,23288.338616,NaN,7.472375e+06,2018,NaN,320.863359
32,60298,Mall_Stores,606,8391.589347,NaN,2.820486e+06,2018,NaN,336.108661
33,60300,Mall_Stores,602,6604.762130,NaN,2.701914e+06,2018,NaN,409.085682
34,60299,Mall_Stores,602,3266.388547,NaN,4.796778e+05,2018,NaN,146.852643

In [155]:
store_info_final_dumm=pd.get_dummies(store_info_final, columns=['Store_Format','Region_Code'])

### Cust Trans

In [8]:
cust_trans=pd.read_excel('./Data/Customer_Transaction.xlsx')

In [9]:
cust_trans.head()

,Territory,Business,Year,Week,Store_Code,City_Name,Store_Type,Transaction_Type,Return_Reason,Customer_ID,Invoices,Item_Count,Revenue,Discount,Units_Sold
0,United Arab Emirates,Max,2010,0,60065,Dubai,Stand alone,Return,Size Problem,1800000058056860,1,3,-169.0,0.0,-3
1,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000020917140,1,1,0.0,0.0,0
2,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000021265010,1,1,0.0,0.0,0
3,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000025693950,1,4,0.0,0.0,0
4,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000044104620,1,1,0.0,0.0,0

In [17]:
cust_trans_filt=cust_trans[(cust_trans.Year==2016) | (cust_trans.Year==2017)]

In [33]:
cust_trans_pre=cust_trans_filt[cust_trans_filt.Year==2016]

In [34]:
cust_trans_post=cust_trans_filt[cust_trans_filt.Year==2017]

## Pre Dataset Prep

In [39]:
#cust_trans_filt_grouped=
cust_trans_pre_grouped=cust_trans_pre.groupby(['Customer_ID','Store_Code']).agg({'Week': lambda x: x.nunique(),
                                                           'Invoices': np.sum, 
                                                           'Item_Count': np.sum, 
                                                           'Revenue': np.sum,
                                                           'Discount': np.sum,
                                                           'Units_Sold': np.sum
                                                          })

#cust_trans_pre_grouped = cust_trans_pre_grouped.to_frame()
cust_trans_pre_grouped = cust_trans_pre_grouped.reset_index(level=['Customer_ID','Store_Code'])

In [40]:
cust_trans_pre_grouped.head()

,Customer_ID,Store_Code,Week,Revenue,Invoices,Item_Count,Discount,Units_Sold
0,1800000006365760,60067,2,917.0,3,29,47.0,31
1,1800000006365820,60054,1,260.0,1,6,92.0,6
2,1800000006366060,60066,1,188.0,1,10,3.0,15
3,1800000006366060,60069,1,102.0,1,3,45.0,3
4,1800000006366060,60079,2,166.0,3,6,60.0,6

In [159]:
df1=pd.merge(cust_trans_pre_grouped,cust_demogs_final_dummies,how='inner',left_on=['Customer_ID'],right_on=['Customer_ID'])

In [161]:
df2=pd.merge(df1,store_info_final_dumm,how='inner',left_on=['Store_Code'],right_on=['Store_Code'])

In [162]:
df2.head()

,Customer_ID,Store_Code,Week,Revenue,Invoices,Item_Count,Discount,Units_Sold,Age_new,Points,...,rev_per_sqft,Store_Format_Mall_Stores,Store_Format_Stand_Alone,Store_Format_other,Region_Code_601,Region_Code_602,Region_Code_603,Region_Code_604,Region_Code_605,Region_Code_606
0,1800000006365760,60067,2,917.0,3,29,47.0,31,59.0,814.0,...,4075.716571,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1800000006366230,60067,1,151.0,1,8,10.0,9,56.0,126.0,...,4075.716571,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2,1800000006368610,60067,4,415.0,9,32,543.0,26,47.0,122.0,...,4075.716571,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
3,1800000006368940,60067,4,413.0,4,16,58.0,16,55.0,597.0,...,4075.716571,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
4,1800000006369560,60067,2,216.0,2,6,46.0,7,35.0,163.0,...,4075.716571,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0

In [242]:
df2.columns

Index([                                   u'Customer_ID',
                                           u'Store_Code',
                                                 u'Week',
                                              u'Revenue',
                                             u'Invoices',
                                           u'Item_Count',
                                             u'Discount',
                                           u'Units_Sold',
                                              u'Age_new',
                                               u'Points',
                                      u'Transaction_age',
                                           u'Redeem_age',
                          u'Income_Range_10001_to_20000',
                          u'Income_Range_20001_to_30000',
                             u'Income_Range_30001_Above',
                           u'Income_Range_5001_to_10000',
                              u'Income_Range_Below_5000',
                                 u'Income_Range_Unknown',
                             u'Income_Range_Unspecified',
                                  u'Job_Type_Accountant',
                               u'Job_Type_Administartor',
                    u'Job_Type_Chief_Execuetive_Officer',
                                       u'Job_Type_Clerk',
                                    u'Job_Type_Director',
                                      u'Job_Type_Doctor',
                                    u'Job_Type_Engineer',
                         u'Job_Type_Housewife/Homemaker',
                                     u'Job_Type_Manager',
                                     u'Job_Type_Officer',
                                      u'Job_Type_Others',
       u'Job_Type_PREZ/SECY/TREAS_TO_CLUB/ASSOC/SOCIETY',
                             u'Job_Type_Sales_Executive',
                               u'Job_Type_Self_Employed',
                                    u'Job_Type_Services',
                                     u'Job_Type_Student',
                                  u'Job_Type_Supervisor',
                                  u'Job_Type_Technician',
                                 u'Job_Type_Unspecified',
                              u'Marital_Status_Divorsed',
                               u'Marital_Status_Married',
                                u'Marital_Status_Others',
                             u'Marital_Status_Separated',
                                u'Marital_Status_Single',
                           u'Marital_Status_Unspecified',
                               u'Marital_Status_Widowed',
                                             u'Gender_F',
                                             u'Gender_M',
                                   u'Gender_Unspecified',
                                      u'State_Abu Dhabi',
                                          u'State_Ajman',
                                        u'State_Bahrain',
                                          u'State_Dubai',
                                       u'State_Fujairah',
                                    u'State_Kuwait City',
                                         u'State_Muscat',
                                         u'State_Others',
                                          u'State_Qatar',
                                 u'State_Ras Al Khaimah',
                                        u'State_Sharjah',
                                  u'State_Umm Al Quwain',
                                    u'State_Unspecified',
                                      u'Language_Arabic',
                                     u'Language_English',
                                 u'Language_Unspecified',
                                  u'Loyalty_Status_Gold',
                                u'Loyalty_Status_Silver',
                                     u'Store_Size_Sq_Ft',
                                       u'Customer_Count',
                                        u'Total_Revenue',
                                          u'launch_year',
                                          u'ff_per_sqft',
                                         u'rev_per_sqft',
                             u'Store_Format_Mall_Stores',
                             u'Store_Format_Stand_Alone',
                                   u'Store_Format_other',
                                      u'Region_Code_601',
                                      u'Region_Code_602',
                                      u'Region_Code_603',
                                      u'Region_Code_604',
                                      u'Region_Code_605',
                                      u'Region_Code_606'],
      dtype='object')

In [243]:
#cust_trans_filt_grouped=
cust_trans_pre_final=df2.groupby(['Customer_ID']).agg({'Week': np.sum,
                                                           'Invoices': np.sum, 
                                                           'Item_Count': np.sum, 
                                                           'Revenue': np.sum,
                                                           'Discount': np.sum,
                                                           'Units_Sold': np.sum,
                                                       'Age_new':np.max,
                                               'Points':np.mean,
                                      'Transaction_age':np.max,
                                           'Redeem_age':np.max,
                          'Income_Range_10001_to_20000':np.max,
                          'Income_Range_20001_to_30000':np.max,
                             'Income_Range_30001_Above':np.max,
                           'Income_Range_5001_to_10000':np.max,
                              'Income_Range_Below_5000':np.max,
                                 'Income_Range_Unknown':np.max,
                             'Income_Range_Unspecified':np.max,
                                  'Job_Type_Accountant':np.max,
                               'Job_Type_Administartor':np.max,
                    'Job_Type_Chief_Execuetive_Officer':np.max,
                                       'Job_Type_Clerk':np.max,
                                    'Job_Type_Director':np.max,
                                      'Job_Type_Doctor':np.max,
                                    'Job_Type_Engineer':np.max,
                         'Job_Type_Housewife/Homemaker':np.max,
                                     'Job_Type_Manager':np.max,
                                     'Job_Type_Officer':np.max,
                                      'Job_Type_Others':np.max,
       'Job_Type_PREZ/SECY/TREAS_TO_CLUB/ASSOC/SOCIETY':np.max,
                             'Job_Type_Sales_Executive':np.max,
                               'Job_Type_Self_Employed':np.max,
                                    'Job_Type_Services':np.max,
                                     'Job_Type_Student':np.max,
                                  'Job_Type_Supervisor':np.max,
                                  'Job_Type_Technician':np.max,
                                 'Job_Type_Unspecified':np.max,
                              'Marital_Status_Divorsed':np.max,
                               'Marital_Status_Married':np.max,
                                'Marital_Status_Others':np.max,
                             'Marital_Status_Separated':np.max,
                                'Marital_Status_Single':np.max,
                           'Marital_Status_Unspecified':np.max,
                               'Marital_Status_Widowed':np.max,
                                             'Gender_F':np.max,
                                             'Gender_M':np.max,
                                   'Gender_Unspecified':np.max,
                                      'Language_Arabic':np.max,
                                     'Language_English':np.max,
                                 'Language_Unspecified':np.max,
                                  'Loyalty_Status_Gold':np.max,
                                'Loyalty_Status_Silver':np.max,
                                     'Store_Size_Sq_Ft':np.mean,
                                       'Customer_Count':np.mean,
                                        'Total_Revenue':np.mean,
                                          'launch_year':np.mean,
                                          'ff_per_sqft':np.mean,
                                         'rev_per_sqft':np.mean,
                             'Store_Format_Mall_Stores':np.max,
                             'Store_Format_Stand_Alone':np.max,
                                   'Store_Format_other':np.max,
                                      'Region_Code_601':np.max,
                                      'Region_Code_602':np.max,
                                      'Region_Code_603':np.max,
                                      'Region_Code_604':np.max,
                                      'Region_Code_605':np.max,
                                      'Region_Code_606':np.max
                                                          })

#cust_trans_pre_grouped = cust_trans_pre_grouped.to_frame()
cust_trans_pre_final = cust_trans_pre_final.reset_index(level=['Customer_ID'])

### Post Dataset Prep

In [151]:
cust_trans_post=cust_trans[cust_trans.Year==2017]

In [156]:
post_store_info=store_info_final_dumm[store_info.launch_year==2017]

In [164]:
post_store_info = post_store_info.add_suffix('_post')

In [180]:
post_store_info

,Store_Code_post,Store_Size_Sq_Ft_post,Customer_Count_post,Total_Revenue_post,launch_year_post,ff_per_sqft_post,rev_per_sqft_post,Store_Format_Mall_Stores_post,Store_Format_Stand_Alone_post,Store_Format_other_post,Region_Code_601_post,Region_Code_602_post,Region_Code_603_post,Region_Code_604_post,Region_Code_605_post,Region_Code_606_post
30,60275,2178.431368,13669.0,5271266.78,2017,6.274698,2419.753433,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0

In [181]:
df3=pd.merge(cust_trans_post,post_store_info,how='inner',left_on=['Store_Code'],right_on=['Store_Code_post'])

In [182]:
df3.columns

Index([                    u'Territory',                      u'Business',
                                u'Year',                          u'Week',
                          u'Store_Code',                     u'City_Name',
                          u'Store_Type',              u'Transaction_Type',
                       u'Return_Reason',                   u'Customer_ID',
                            u'Invoices',                    u'Item_Count',
                             u'Revenue',                      u'Discount',
                          u'Units_Sold',               u'Store_Code_post',
               u'Store_Size_Sq_Ft_post',           u'Customer_Count_post',
                  u'Total_Revenue_post',              u'launch_year_post',
                    u'ff_per_sqft_post',             u'rev_per_sqft_post',
       u'Store_Format_Mall_Stores_post', u'Store_Format_Stand_Alone_post',
             u'Store_Format_other_post',          u'Region_Code_601_post',
                u'Region_Code_602_post',          u'Region_Code_603_post',
                u'Region_Code_604_post',          u'Region_Code_605_post',
                u'Region_Code_606_post'],
      dtype='object')

In [184]:
post_dataset=df3[['Customer_ID','Store_Code_post','Store_Size_Sq_Ft_post','Total_Revenue_post','launch_year_post',
                  'rev_per_sqft_post','Store_Format_Mall_Stores_post','Store_Format_Stand_Alone_post','Store_Format_other_post',
                  'Region_Code_601_post','Region_Code_602_post','Region_Code_603_post','Region_Code_604_post','Region_Code_605_post',
                 'Region_Code_606_post']]

In [185]:
post_dataset.shape

(1119, 15)

In [191]:
post_dataset_active=post_dataset.drop_duplicates()

In [194]:
post_dataset_active.shape

(557, 15)

In [196]:
post_dataset_active['post_flag']=1

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [237]:
post_dataset_active.head()

,Customer_ID,Store_Code_post,Store_Size_Sq_Ft_post,Total_Revenue_post,launch_year_post,rev_per_sqft_post,Store_Format_Mall_Stores_post,Store_Format_Stand_Alone_post,Store_Format_other_post,Region_Code_601_post,Region_Code_602_post,Region_Code_603_post,Region_Code_604_post,Region_Code_605_post,Region_Code_606_post,post_flag
0,1800000209675400,60275,2178.431368,5271266.78,2017,2419.753433,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1
1,1800000251693600,60275,2178.431368,5271266.78,2017,2419.753433,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1
2,1800000007444660,60275,2178.431368,5271266.78,2017,2419.753433,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1
3,1800000007710370,60275,2178.431368,5271266.78,2017,2419.753433,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1
4,1800000012449670,60275,2178.431368,5271266.78,2017,2419.753433,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1

In [228]:
post_dataset_inact=cust_trans_post[cust_trans_post.Store_Code!=60275][['Customer_ID']]

In [229]:
type(post_dataset_inactive)

pandas.core.frame.DataFrame

In [230]:
post_dataset_inact=post_dataset_inactive.drop_duplicates()

In [231]:
post_dataset_inact.shape

(76834, 1)

In [232]:
import itertools

def cartesian(df1, df2):
    rows = itertools.product(df1.iterrows(), df2.iterrows())

    df = pd.DataFrame(left.append(right) for (_, left), (_, right) in rows)
    return df.reset_index(drop=True)

In [233]:
post_dataset_inact_final=cartesian(post_dataset_inact,post_store_info)

In [234]:
post_dataset_inact_final['post_flag']=0

In [238]:
post_dataset_inact_final.columns

Index([                  u'Customer_ID',               u'Store_Code_post',
               u'Store_Size_Sq_Ft_post',           u'Customer_Count_post',
                  u'Total_Revenue_post',              u'launch_year_post',
                    u'ff_per_sqft_post',             u'rev_per_sqft_post',
       u'Store_Format_Mall_Stores_post', u'Store_Format_Stand_Alone_post',
             u'Store_Format_other_post',          u'Region_Code_601_post',
                u'Region_Code_602_post',          u'Region_Code_603_post',
                u'Region_Code_604_post',          u'Region_Code_605_post',
                u'Region_Code_606_post',                     u'post_flag'],
      dtype='object')

In [239]:
post_dataset_inactive=post_dataset_inact_final[['Customer_ID','Store_Code_post','Store_Size_Sq_Ft_post','Total_Revenue_post','launch_year_post',
                  'rev_per_sqft_post','Store_Format_Mall_Stores_post','Store_Format_Stand_Alone_post','Store_Format_other_post',
                  'Region_Code_601_post','Region_Code_602_post','Region_Code_603_post','Region_Code_604_post','Region_Code_605_post',
                 'Region_Code_606_post','post_flag']]

In [240]:
post_dataset_final = post_dataset_active.append(post_dataset_inactive, ignore_index=True)

In [241]:
post_dataset_final.head()

,Customer_ID,Store_Code_post,Store_Size_Sq_Ft_post,Total_Revenue_post,launch_year_post,rev_per_sqft_post,Store_Format_Mall_Stores_post,Store_Format_Stand_Alone_post,Store_Format_other_post,Region_Code_601_post,Region_Code_602_post,Region_Code_603_post,Region_Code_604_post,Region_Code_605_post,Region_Code_606_post,post_flag
0,1.800000e+15,60275.0,2178.431368,5271266.78,2017.0,2419.753433,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1
1,1.800000e+15,60275.0,2178.431368,5271266.78,2017.0,2419.753433,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1
2,1.800000e+15,60275.0,2178.431368,5271266.78,2017.0,2419.753433,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1
3,1.800000e+15,60275.0,2178.431368,5271266.78,2017.0,2419.753433,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1
4,1.800000e+15,60275.0,2178.431368,5271266.78,2017.0,2419.753433,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1

In [268]:
Final_train_dataset=pd.merge(cust_trans_pre_final,post_dataset_final,how='left',left_on=['Customer_ID'],right_on=['Customer_ID'])

In [269]:
Final_train_dataset=Final_train_dataset.fillna(0)

In [270]:
Final_train_dataset['Store_Code_post']=60275

In [271]:
Final_train_dataset.Customer_ID.nunique()

68523

### Building a Random Forest Models

In [272]:
#from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import cross_val_score
from sklearn.metrics import accuracy_score

In [ ]:
y = Final_train_dataset['post_flag']
#del Final_train_dataset['post_flag','Customer_ID','Store_Code_post']
Final_train_dataset=Final_train_dataset.drop(['post_flag','Customer_ID','Store_Code_post'], axis=1)
X = Final_train_dataset
#X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1,stratify=y)

#train the RF classifier
clf = RandomForestClassifier(n_estimators = 500, max_depth = 6) 

#clf.predict(X_test)

In [274]:
clf.fit(X,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=6, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [275]:
#make prediction and check model's accuracy
prediction = clf.predict(X)
acc =  accuracy_score(np.array(y),prediction)
print ('The accuracy of Random Forest is {}'.format(acc))

The accuracy of Random Forest is 0.995449126174